<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Mkyong.com</a>
    </nav>

    <main role="main" class="container">

        <div class="starter-template">
            <h1>Spring Boot Web Thymeleaf Example</h1>
            <h2>
                <span th:text="'Hello, ' + ${message}"></span>
            </h2>
        </div>

        <ol>
            <li th:each="task : ${tasks}" th:text="${task}"></li>
        </ol>









        <form th:action="@{/save-project}" th:object="${project}" method="post">

            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label>Project ID</label>
                    <input type="number" class="form-control" th:field="*{id}">
                </div>
                <div class="col-md-6 form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" th:field="*{title}">
                </div>
                <div class="col-md-6 form-group">
                    <label>Type</label>
                    <select class="form-control" th:field="*{type}">
                        <option value="">Choose...</option>
                        <option value="Design">Design</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Marketing">Marketing</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label>Color</label>
                    <input type="color" class="form-control" th:field="*{color}">
                </div>
                <div class="col-md-6 form-group">
                    <label>Estimated Price</label>
                    <input type="number" step="any" class="form-control" th:field="*{price}">
                </div>
                <div class="col-md-6 form-group">
                    <label>Launch Date</label>
                    <input type="datetime-local" class="form-control" th:field="*{launchDate}">
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" th:field="*{description}" rows="3"></textarea>
            </div>

            <div class="col-md-6 form-group">
                <strong>Duration:</strong>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{days}" id="option1" value="15">
                    <label class="form-check-label" for="option1">15 Days</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{days}" id="option2" value="30">
                    <label class="form-check-label" for="option2">30 Days</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{days}" id="option3" value="45">
                    <label class="form-check-label" for="option3">45 Days</label>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{featured}" id="featured">
                    <label class="form-check-label" for="featured">
                        Mark Featured
                    </label>
                </div>
            </div>

            <button type="submit" name="action" value="save">save</button>

        </form>






    </main>
    <!-- /.container -->

</body>

</html>