<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} " />

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">AleksanderS</a>
    </nav>

    <main role="main" class="container">


        <h2>Result</h2>
        <div class="my-3">
            Example <a href="http://localhost:8080/1+2">http://localhost:8080/1+2</a>
        </div>
       


    </main>
    <!-- /.container -->

</body>

</html>